.c-btn {
    padding: 20px 28px;
    color: inherit;
    width: 100%;
    font-size: 18px;
    line-height: 1.25;
    font-family: $font-klein;
    text-transform: uppercase;
    transition: all 0.3s;
    border: 1px solid transparent;
    font-weight: 300;
    &:hover,
    &:focus {
        outline: none;
    }

    @include breakpoint(mobile) {
        font-size: 16px;
        padding: 15px 20px;
    }
    @include breakpoint(smMobile) {
        font-size: 14px;
        padding: 12px 15px;
    }
}

.c-btn.primary {
    background-color: transparent;
    border: 1px solid $primary-color;
    &:hover,
    &:focus {
        background-color: $primary-color;
        color: $white;
    }
    &:disabled {
        font-weight: 500;
        background-color: $grey;
        color: $primary-color;
        border: 1px solid $grey;
        cursor: not-allowed;
    }
}
.c-btn.secondary {
    background-color: $primary-color;
    color: $white;
    &:hover,
    &:focus {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
    }
    &:disabled {
        font-weight: 500;
        background-color: $grey;
        color: $primary-color;
        border: 1px solid $grey;
        cursor: not-allowed;

    }
}

.c-btn.text {
    background-color: transparent;
    color: $primary-color;
    padding: 0;
    // &:hover,
    // &:focus {
    //     background-color: transparent;
    //     border: 1px solid $primary-color;
    //     color: $primary-color;
    // }
}
