.first-section {
    padding-top: 32px;
    &__arrow {
        height: 13px;
        width: 9px;
    }
    &__btn {
        display: flex;
        align-items: center;
        gap: 6px;
        // transform: translateX(-85px);
        &:hover,
        &:focus {
            text-decoration: none;
        }
        @media screen and (max-width: 1480px) {
            // transform: translateX(0);
        }
    }
}
