.footer {
    margin-top: auto;
    padding: 53px 0 64px;
    background-color: $primary-color;
    color: $white;
    .container {
        // justify-content: center;
    }
    .logo-link {
        display: flex;
        .logo {
            width: 196px;
        }
    }
    .c-text-16 {
        font-weight: 300;
    }
    .chapter-title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 24px;
    }
    .chapter-link {
        margin-bottom: 16px;
    }
    .chapter-uptext {
        color: #a5a5a5;
    }
    .col-lg-3 {
        margin-bottom: 35px;
    }
    .insta-link {
        margin-top: 60px;
        gap: 8px;
        font-weight: 300;
        align-items: center;
        display: flex;
    }
    @include breakpoint(smMobile) {
    }
}
