.image-gallery {
    // height: 525px;
    .image-gallery-thumbnails-container {
        // display: flex;
        // flex-direction: column;
    }
    .image-gallery-thumbnail {
        transition: all 0.3s;
        &:hover,
        &:focus {
            border: none;
        }
        &.active {
            border: none;
            opacity: 0.5;
        }
        flex: 1;
        // max-width: 33.3%;
    }
}
