.header {
    padding: 14px 0;
    background-color: $primary-color;
    @include breakpoint(mobile) {
        padding: 20px 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-link {
        display: flex;
        align-items: center;
    }
    .burger-menu-btn {
        display: none;
        outline: none;
        color: $white;
    }
    .burger-menu-icon {
        width: 12px;
        height: 7px;
        &.icon-close {
            width: 20px;
            height: 20px;
        }
    }
    .dropdown-backdrop {
        position: absolute;
        top: 12px;
        // opacity: 0;
        // padding: 48px 0 24px 0;
        transition: all 0.3s;
        padding-top: 28px;
        // width: 100vw;
        background-color: transparent;
    }
    .dropdown-menu {
        background-color: $white;
        border-radius: 7px;
        box-shadow: rgba(204, 208, 229, 0.25) 0px 13px 26px 0px;
        padding: 0;
        display: flex;
        padding: 20px 12px 24px 12px;
        flex-direction: column;
        // background-color: $white;
        gap: 8px;
        z-index: 5;
        position: relative;
        width: 128px;
        margin: 0;
        opacity: 0;
        transition: all 0.3s;
        user-select: none;
    }
    .dropdown-menu-item {
        color: $primary-color;
    }
    .dropdown-menu-link {
        &:hover,
        &:focus {
            color: $primary-color;
        }
    }

    .header-nav {
        display: flex;
        align-items: center;
        gap: 48px;
        .nav-link {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            color: $white;
            position: relative;
            cursor: pointer;
            &::before {
                content: "";
                position: absolute;
                transition: all 0.3s;
                transform: scaleX(0);
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $white;
                transform-origin: left;
            }
            &:hover,
            &:focus {
                &::before {
                    transform: scaleX(1);
                }
                .dropdown-menu {
                    transition-delay: 0.3s;
                    opacity: 1;
                }
                .dropdown-backdrop {
                    opacity: 1;
                    pointer-events: all;
                    user-select: all;
                }
                .dropdown-backdrop::before {
                    opacity: 1;
                    height: 88px;
                    background-color: $white;
                }
            }
        }
    }
    .cart-wrapper {
        cursor: pointer;
        color: inherit;
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: $white;
        position: relative;
        .cart-quantity {
            position: absolute;
            bottom: -8px;
            left: 6px;
            line-height: 1;
            background-color: $white;
            color: $primary-color;
            border-radius: 100%;
            width: 15px;
            height: 15px;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.mobile {
            display: none;
        }
        .text {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
        }
        .icon {
            width: 15px;
            height: 13px;
            fill: none;
        }
    }

    .mobile-menu,
    .menu-lvl-1 {
        display: none;
        position: absolute;
        left: 0;
        top: 67px;
        background-color: $white;
        z-index: 5;
        width: 100vw;
        padding: 16px;
        min-height: 197px;
        transition: all 0.3s;
        overflow: hidden;
        &.visible {
            transform: translateX(0);
        }
        @include breakpoint(mobile) {
            display: block;
        }
    }
    .mobile-menu {
        transform: translateX(-101%);
    }
    .mobile-menu-list,
    .selected-mobile-menu {
        padding: 0;
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
    .mobile-menu-item {
        display: flex;
        width: 100%;
    }
    .mobile-menu-item-trigger,
    .selected-mobile-menu-link {
        font-size: 10px;
        text-transform: uppercase;
        display: flex;
        width: 100%;
        justify-content: space-between;
        outline: none;
        align-items: center;
        color: $primary-color;
        font-weight: 700;
    }
    .mobile-menu-arrow {
        stroke: currentColor;
    }
    .menu-lvl-1 {
        z-index: 6;
        transform: translateX(201%);
        transition: all 0.5s;
        top: 0;

        // &.visible {

        // }
    }
    .menu-lvl-1-back-btn {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        color: #555;
        outline: none;
        margin-bottom: 24px;
        gap: 6px;
    }
    .selected-mobile-menu-arrow {
        transform: rotate(180deg);
    }
    .selected-mobile-menu {
        padding-left: 12px;
    }
    // .selected-mobile-menu-item {
    // }
    // .selected-mobile-menu-link {
    // }
    @include breakpoint(laptop) {
        .logo {
            width: 190px;
        }
    }
    @include breakpoint(mobile) {
        .logo {
            width: 90px;
        }
        .burger-menu-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            width: 20px;
            height: 20px;
        }
        .header-nav {
            display: none;
        }
        .cart-wrapper.mobile {
            padding: 7px 0 7px 7px;
            display: flex;
            .cart-quantity {
                bottom: -3px;
                left: 12px;
            }
        }
    }
    @include breakpoint(smMobile) {
        .cart-wrapper {
            gap: 15px;
            .text {
                font-size: 18px;
            }
        }
    }
    @include breakpoint(xsMobile) {
        .cart-wrapper {
            gap: 15px;
            .text {
                font-size: 16px;
            }
        }
    }
}
