.input-group {
    &__label {
        margin-bottom: 15px;
        display: block;
        width: 100%;
        position: relative;
    }
    &__input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $primary-color;
        transition: all 0.3s;
        padding: 8px 15px;
        font-size: 14px;
        font-family: $font-klein;
        line-height: 1.25;
        outline: none;
        &:focus {
            border-bottom: 1px solid $primary-color;
        }
        &:not(:placeholder-shown) + .input-group__placeholder {
            transform: translate(-15px, -20px);
            color: $primary-color;
        }
    }
    &__placeholder {
        position: absolute;
        left: 15px;
        bottom: 7px;
        transition: all 0.3s;
        // transform: translate(-15px, -20px);
        font-size: 14px;
    }
}
