.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: all 0.3s;
    z-index: 999;
}
.backdrop.visible {
    opacity: 1;
    pointer-events: all;
    user-select: auto;
}
.backdrop.visible .modal {
    opacity: 1;
    transform: translateX(-50%);
}
.modal {
    max-width: 382px;
    max-height: 601px;
    width: calc(100% - 20px);
    height: 100%;
    background-color: $white;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateY(200%);
    transition: all 0.3s;
    // opacity: 0;
}
.btn-close-modal {
    width: 15px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 14px;
    top: 14px;
    z-index: 1;
    color: $primary-color;
}
.btn-close-icon {
}
