.product-card {
    box-shadow: 0 0 30px 9px rgba(223, 223, 223, 0.3);
    background: $white;

    // padding: 8px 8px 14px 8px;
    // border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    // text-transform: uppercase;
    a {
        &:hover,
        &:focus {
            text-decoration: none;
            color: inherit;
        }
    }

    &__head {
        width: 100%;
        min-height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 13px;
        @include breakpoint(tablet) {
            min-height: auto;
        }
    }
    &__img {
        display: block;
        max-width: 100%;
        object-fit: contain;
    }
    &__body {
        padding: 36px 15px 47px;
        text-align: center;
        @include breakpoint(tablet) {
            padding: 25px 10px 30px;
        }
        @include breakpoint(mobile) {
            padding: 6px 10px 16px;
        }
    }
    &__title {
        margin-bottom: 16px;
        font-weight: 700;
        text-transform: uppercase;
        @include breakpoint(tablet) {
            font-size: 12px;
        }
        @include breakpoint(mobile) {
            // font-size: 8px;
        }
    }
    &__price {
        font-weight: 400;
        @include breakpoint(tablet) {
            font-size: 10px;
        }
        @include breakpoint(mobile) {
            // font-size: 6px;
        }
    }
    &__type {
        font-weight: 400;
    }
}
