@import "../vars.scss";

.slider {
    position: relative;
    padding: 0 80px;

    @include breakpoint(smMobile) {
        padding: 0;
    }
    .swiper-wrapper {
        padding: 20px 0;
    }
    .btn-arrow {
        position: absolute;
        top: 50%;
        transition: filter 0.3s;
        z-index: 1;
        &:hover,
        &:focus {
            filter: drop-shadow(0px 0px 10px #000);
        }
        outline: none;
        width: 35px;
        height: 51px;
        svg {
            width: 35px;
            height: 51px;
        }
        @include breakpoint(smMobile) {
            display: none;
        }
        &.prev {
            left: 0;
            transform: translateY(-50%);
        }
        &.next {
            right: 0;
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .swiper {
        padding-bottom: 24px;
    }

    .swiper-pagination {
        // transform: translateY(24px);
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
        opacity: 1;
        border: 2px solid $white;
        background-color: transparent;
        margin: 0 12px !important;
        transition:
            border 0.3s ease,
            background-color 0.3s ease-out;
    }

    .swiper-pagination-bullet-active {
        border: 2px solid $white;
        background-color: $white;
    }
}
