@import "../_mixins.scss";
@import "../_vars.scss";

.about-page {
  .second-section {
    padding: 64px 0;
    @include breakpoint(mobile) {
      padding: 24px 0 40px;
    }

    .c-title-26 {
      font-weight: 700;
      text-transform: uppercase;
    }

    .main-title {
      margin-bottom: 46px;
      @include breakpoint(mobile) {
        margin-bottom: 22px;
      }
    }

    .text-block {
      max-width: 859px;
      margin: 0 auto;
      &.mb-64 {
        margin-bottom: 64px;
      }
    }

    .image-rect-wrapper {
      max-width: 1080px;
      max-height: 452px;
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 auto;
      &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
        @include breakpoint(tablet) {
          gap: 40px;
        }
        @include breakpoint(smMobile) {
          grid-template-columns: 1fr;
          grid-template-rows: 424px 424px 424px;
          max-height: 100%;
          gap: 30px;
        }
      }
    }

    .image-rect-horizontal {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .mb-24 {
      margin-bottom: 24px;
      @include breakpoint(mobile) {
        margin-bottom: 18px;
      }
    }

    .mb-36 {
      margin-bottom: 36px;
      @include breakpoint(mobile) {
        margin-bottom: 22px;
      }
    }
    
  }
}
