@import "../_mixins.scss";
@import "../_vars.scss";

.cart-page {
    padding-bottom: 70px;
    .first-section {
        padding-bottom: 29px;
    }
    .heading {
        max-width: 1080px;
        margin: 0 auto;
        .c-title-25 {
            text-transform: uppercase;
            // text-align: center;
            margin-bottom: 48px;
        }
    }

    .cart {
        max-width: 1080px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 30px;
        .uppercase {
            text-transform: uppercase;
        }
        .cart-item {
            position: relative;
            display: flex;
            width: 100%;
            align-items: center;
            gap: 16px;
            padding-top: 30px;
            border-top: 1px solid #cdcdcd;
            @include breakpoint(smMobile) {
                flex-direction: column;
                align-items: center;
            }
            &__thumb {
                max-width: 197px;
                max-height: 197px;
                width: 100%;
                height: 100%;
                @include breakpoint(smMobile) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__body {
                padding: 16px 7px 7px 0;
                width: 100%;
            }
            &__title {
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 24px;
                @include breakpoint(smMobile) {
                    font-size: 18px;
                }
            }
            &__size {
                font-family: $font-ubuntu;
                margin-bottom: 12px;
                @include breakpoint(smMobile) {
                    font-size: 14px;
                }
            }
            &__controls {
                display: flex;
                flex-direction: column;
                gap: 16px;
                // align-items: center;
            }
            &__price {
                font-family: $font-klein;
                // font-weight: 700;
                font-size: 14px;
                line-height: 1;
                color: $primary-color;
                // padding-right: 15px;
            }
            &__wrapper {
                display: flex;
                gap: 14px;
                align-items: center;
                margin-top: 18px;
                // justify-content: center;
            }

            &__button,
            &__delete {
                width: 30px;
                height: 30px;
                border: 1px solid $grey;
                transition: all 0.3s;
                outline: none;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 12px;
                    height: 12px;
                    display: block;
                    rect {
                        transition: all 0.3s;
                        fill: transparent;
                    }
                    line {
                        transition: all 0.3s;
                        fill: $primary-color;
                    }
                }
                &:hover,
                &:focus {
                    border: 1px solid $primary-color;
                    background-color: $black;
                    svg {
                        rect {
                            fill: $primary-color;
                        }
                        line {
                            stroke: $lighter-secondary-color;
                        }
                    }
                }
                &:disabled {
                    border: 1px solid $grey;
                    cursor: not-allowed;
                    color: $primary-color;
                    background-color: $grey;
                    svg {
                        line {
                            stroke: $primary-color;
                        }
                    }
                }
            }

            &__delete {
                right: 0;
                top: 30px;
                position: absolute;
                background-color: $black;
                border: 1px solid $primary-color;
                svg {
                    width: 12px;
                    height: 12px;
                    line {
                        stroke: $lighter-secondary-color;
                    }
                }
                &:hover,
                &:focus {
                    background-color: transparent;
                    svg {
                        width: 12px;
                        height: 12px;
                        line {
                            stroke: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .bottom {
        max-width: 1080px;
        margin: 16px auto 0;
    }
    .create-order__btn {
        display: block;
        width: 100%;
        max-width: 307px;
        margin-left: auto;
        font-weight: 18px;
        padding: 20px;
    }
}
