@import "../_mixins.scss";
@import "../_vars.scss";

.catalog {
    padding-bottom: 70px;
    .second-section {
        padding-top: 50px;
        .container {
            display: flex;
            gap: 24px;
            @include breakpoint(mobile) {
                flex-direction: column;
            }
        }
        .filters {
            width: 25%;
            position: relative;
            @include breakpoint(mobile) {
                width: 100%;
            }
            .filters-btn {
                position: absolute;
                right: 0;
                top: 0;

                gap: 8px;
                align-items: center;
                font-size: 12px;
                color: $primary-color;
                display: none;
                border: 1px solid transparent;
                padding: 5px 10px;
                transition: all 0.3s;
                outline: none;
                &.active {
                    border: 1px solid $primary-color;
                }
                &:hover,
                &:focus {
                    border: 1px solid $primary-color;
                }
                @include breakpoint(mobile) {
                    display: flex;
                }
            }
            .filters-btn__accent {
                text-decoration: underline;
            }
            .filters-title {
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 24px;
                @include breakpoint(mobile) {
                    margin-bottom: 16px;
                }
            }
            .filters-container {
                display: flex;
                padding-left: 30px;
                flex-direction: column;
                gap: 18px;
                position: relative;
                transition: all 0.3s;
                @include breakpoint(mobile) {
                    background-color: #f6f6f6;
                    max-height: 0;
                    padding: 0;
                    overflow: hidden;
                    &.visible {
                        max-height: 247px;
                        padding: 29px 16px 20px;
                    }
                }
            }
            .filter-label {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 0;
                cursor: pointer;
            }
            .filter-input:checked + .filter-fake::before {
                background-color: $primary-color;
            }
            .filter-fake {
                min-width: 14px;
                min-height: 14px;
                display: inline-flex;
                align-items: center;
                border: 1px solid $primary-color;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $white;
                    transition: all 0.3s;
                }
            }
            .filter-text {
                font-weight: 400;
                text-transform: uppercase;
                color: $black;
            }
            .btn-close-filters {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 10px;
                height: 10px;
                align-items: center;
                justify-content: center;
                color: $primary-color;
                display: none;
                @include breakpoint(mobile) {
                    display: flex;
                }
            }
        }

        .catalog-list {
            padding-top: 30px;
            width: 75%;
            display: grid;
            grid-template-columns: repeat(3, minmax(136px, 1fr));
            gap: 24px;
            flex-wrap: wrap;
            @include breakpoint(tablet) {
                grid-template-columns: repeat(2, minmax(136px, 1fr));
            }
            @include breakpoint(mobile) {
                width: 100%;
                padding-top: 0;
            }
        }
    }
}
