@import "../_mixins.scss";
@import "../_vars.scss";

.home-page {
    .first-section {
        // padding-top: 32px;
        // padding-bottom: 72px;
        text-align: center;
        position: relative;
        // padding-top: 70vh;
        height: 703px;

        @include breakpoint(laptop) {
            height: 599px;
        }
        @include breakpoint(mobile) {
            height: 495px;
        }
        &__titles {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 32px;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            top: 35%;
            width: 100%;
            transform: translate(-50%, -50%);
            color: $white;
            z-index: 2;
            .c-title-96 {
                font-weight: 900;
                font-style: italic;
                // font-size: 96px;
            }
            .c-title-54 {
                margin-bottom: 12px;
                font-weight: 700;
            }
        }
        .slider {
            margin-bottom: 98px;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            padding: 0;
            height: 703px;
            @include breakpoint(laptop) {
                height: 599px;
            }
            @include breakpoint(mobile) {
                height: 495px;
            }
            .swiper {
                height: 100%;
                // height: 703px;
                // @include breakpoint(laptop) {
                //     height: 599px;
                // }
                // @include breakpoint(mobile) {
                //     height: 495px;
                // }
            }
            .swiper-wrapper {
                padding: 0;
            }
            .swiper-slide {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.62);
                }
            }
            .slider-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .swiper-pagination {
                bottom: 240px;
                left: 50%;
                transform: translateX(-50%);
                @include breakpoint(laptop) {
                    bottom: 160px;
                }
                @include breakpoint(laptop) {
                    bottom: 120px;
                }
            }
        }
        .old-collections-wrapper {
            z-index: 2;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 50%;
            bottom: 114px;
            transform: translateX(-50%);
            @include breakpoint(laptop) {
                bottom: 53px;
            }
            @include breakpoint(mobile) {
                bottom: 54px;
            }
        }
        .old-collections__btn {
            background-color: $white;
            text-transform: uppercase;
            transition: all 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
            border: 1px solid $primary-color;
            padding: 20px;
            max-width: 416px;
            width: 100vw;
            @include breakpoint(laptop) {
                max-width: 350px;
                font-size: 14px;
                padding: 16px;
            }
            @include breakpoint(mobile) {
                max-width: 288px;
                font-size: 10px;
                padding: 12px;
            }
            &:hover,
            &:focus {
                color: $white;
                background-color: $primary-color;
            }
        }
    }
    .second-section {
        padding: 64px 0;

        .catalog {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap:  35px 24px;
            flex-wrap: wrap;
            padding: 0;
            @include breakpoint(mobile) {
                flex-direction: column;
            }
        }
        .catalog__item {
            // width: calc((100% - 24px) / 2);
            @include breakpoint(mobile) {
                width: 100%;
            }
        }
        .catalog__link {
            display: flex;
            flex-direction: column;
            &:hover,
            &:focus {
                .catalog__img-wrapper {
                    box-shadow: 0 0 30px 9px rgba(223, 223, 223, 0.85);
                }
            }
        }
        .catalot__item-name {
            font-style: italic;
            font-weight: 800;
            font-size: 36px;
            text-transform: uppercase;
            line-height: 1.25;
            color: $primary-color;
            margin-bottom: 8px;
        }
        .catalog__img-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 471px;
            width: 100%;
            background-color: $white;
            padding: 35px;
            transition: all 0.3s;
            box-shadow: 0 0 30px 9px rgba(223, 223, 223, 0.4);
            @include breakpoint(mobile) {
                min-height: 200px;
            }
        }
        .catalog__img {
            max-width: 100%;
            object-fit: contain;
        }

        .container-with-dots {
            .react-multi-carousel-item {
                padding: 0 12px;
                img {
                    object-fit: contain;
                    object-position: center;
                    width: 100%;
                }
            }
        }
    }
}
