@import "../_mixins.scss";
@import "../_vars.scss";

.order-page {
    padding-bottom: 70px;
    .first-section {
        padding-bottom: 29px;
    }
    .heading {
        .c-title-48 {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 52px;
        }
    }
    .block-l {
        max-width: 700px;
        .c-title-32 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .order-location-btn {
            &.primary:hover,
            &.primary:focus {
                border: 1px solid $primary-color;
                background-color: transparent;
                color: $primary-color;
            }
            &.secondary:hover,
            &.secondary:focus {
                border: 1px solid $primary-color;
                background-color: $primary-color;
                color: $white;
            }
        }
        .order-form {
            display: flex;
            flex-direction: column;
            margin-bottom: 50px;
            @include breakpoint(smMobile) {
            }
            &__btn {
                align-self: flex-end;
                min-width: 50%;
                margin-top: 40px;
                @include breakpoint(smMobile) {
                    width: 100%;
                    font-size: 16px;
                }
            }
            &__success {
                padding: 10px;
                text-align: center;
                margin-top: 15px;
                background-color: #ebf7ed;
                border: 1px solid #3dba61;
                color: $primary-color;
                animation: show 0.5s ease;
            }
            &__error {
                padding: 10px;
                text-align: center;
                margin-top: 15px;
                background-color: #FBEEE8;
                border: 1px solid #EB4E2D;
                color: $primary-color;
                animation: show 0.5s ease;
            }
            &__btn {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @keyframes show {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1);
                }
            }
        }
    }
    .cart {
        display: flex;
        flex-direction: column;
        gap: 17px;
        .cart-item {
            display: flex;
            width: 100%;
            gap: 16px;
            @include breakpoint(smMobile) {
                flex-direction: column;
                align-items: center;
            }
            &__thumb {
                max-width: 125px;
                width: 100%;
                @include breakpoint(smMobile) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__body {
                padding: 16px 7px 7px 0;
                width: 100%;
            }
            &__title {
                font-size: 21px;
                font-weight: 500;
                font-family: $font-ubuntu;
                line-height: 1.25;
                margin-bottom: 2px;
                @include breakpoint(smMobile) {
                    font-size: 18px;
                }
            }
            &__size {
                font-family: $font-ubuntu;
                margin-bottom: 12px;
                @include breakpoint(smMobile) {
                    font-size: 14px;
                }
            }
            &__controls {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__price {
                font-family: $font-ubuntu;
                font-weight: 700;
                color: $grey;
                padding-right: 15px;
            }
            &__wrapper {
                display: flex;
                gap: 25px;
                align-items: center;
                justify-content: center;
            }
            &__quantity {
                font-size: 24px;
                line-height: 1.25;
                color: $primary-color;
                font-family: $font-inter;
                font-weight: 700;
            }
            &__button {
                width: 24px;
                height: 24px;
                border: 1px solid transparent;
                transition: all 0.3s;
                outline: none;
                svg {
                    width: 100%;
                    height: 100%;
                    display: block;
                    rect {
                        transition: all 0.3s;
                        fill: $lighter-secondary-color;
                    }
                    path {
                        transition: all 0.3s;
                        fill: $primary-color;
                    }
                }
                &:hover,
                &:focus {
                    border: 1px solid $accent-color;
                    svg {
                        rect {
                            fill: $primary-color;
                        }
                        path {
                            fill: $lighter-secondary-color;
                        }
                    }
                }
            }
        }
    }
    .cart-summary {
        padding: 20px 28px;
        background-color: $lighter-secondary-color;
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: flex-end;
        &__text {
            font-family: $font-ubuntu;
            color: #505d68;
            display: flex;
            gap: 12px;
            b {
                font-weight: 700;
                min-width: 70px;
                text-align: right;
            }
        }
    }
}
