@import "../_mixins.scss";
@import "../_vars.scss";

.payment-page {
    .second-section {
        .c-title-48 {
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 80px;
            @include breakpoint(mobile) {
                margin-bottom: 55px;
            }
        }
        .payment-form {
            display: flex;
            flex-direction: column;
            margin: 0 auto 64px;
            align-items: center;
            max-width: 501px;
            &__card-number {
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                flex: 1;
                gap: 5px;
                &--cvv {
                    // margin-left: 143px;
                    margin-left: auto;
                }
                &--w-100 {
                }
            }
            &__details {
                display: flex;
                justify-content: space-between;
                min-width: 500px;
                margin-top: 48px;
                @include breakpoint(mobile) {
                    margin-top: 35px;
                    min-width: 473px;
                }
                @media screen and (max-width: 512px) {
                    min-width: 100%;
                }
                .payment-form__card-number {
                    justify-content: flex-start;
                    &--cvv {
                        justify-content: flex-end;
                    }
                }
            }
            &__label {
                white-space: nowrap;
                display: flex;
                font-size: 32px;
                @include breakpoint(mobile) {
                    font-size: 28px;
                }
                @media screen and (max-width: 512px) {
                    font-size: 24px;
                }
                @include breakpoint(xsMobile) {
                    font-size: 18px;
                }
                // flex-grow: 1;
                // justify-content: flex-end;
            }
            &__card {
                width: 100%;
                max-width: 277px;
            }
            &__expires {
                width: 100%;
                max-width: 85px;
            }
            &__cvv {
                width: 100%;
                max-width: 60px;
            }
            &__input-label {
                margin-bottom: 0;
            }
            &__input {
                padding-left: 7px;
                padding-bottom: 5px;
                font-size: 24px;
                @include breakpoint(mobile) {
                    font-size: 18px;
                }
                @include breakpoint(smMobile) {
                    font-size: 14px;
                }
                &:not(:placeholder-shown) + .payment-form__placeholder {
                    transform: translate(-7px, -26px);
                }
            }
            &__placeholder {
                font-size: 24px;
                font-family: $font-inter;
                font-weight: 300;
                left: 7px;
                bottom: 2px;
                @include breakpoint(mobile) {
                    font-size: 18px;
                }
                @include breakpoint(smMobile) {
                    font-size: 14px;
                }
            }
            &__controls {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 70px;
                gap: 24px;
                @include breakpoint(mobile) {
                    font-size: 55px;
                }
                @include breakpoint(smMobile) {
                    font-size: 40px;
                }
            }
            &__btn {
                max-width: 250px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                svg {
                    transition: all 0.3s;
                }
                &:hover,
                &:focus {
                    svg {
                        fill: $accent-color;
                    }
                }
            }
        }
    }
}
