@import "../_mixins.scss";
@import "../_vars.scss";

.product-page {
    padding-bottom: 64px;
    .first-section {
        padding-bottom: 29px;
    }
    .content {
        // display: grid;
        margin-bottom: 80px;
        @include breakpoint(mobile) {
            gap: 30px;
        }
    }
    .gallery {
        // display: grid;
        .product-thumb {
            border: 1px solid $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .details {
        .c-title-40 {
            text-transform: uppercase;
        }
        .details-block {
            max-width: 480px;
            margin-bottom: 35px;
            @include breakpoint(mobile) {
                max-width: 100%;
            }
            .details-title {
                margin-bottom: 16px;
                text-transform: uppercase;
                position: relative;
            }
            .icon-add-to-cart {
                fill: transparent;
                transition: all 0.3s;
                width: 15px;
                height: 13px;
            }
            .add-to-cart-btn {
                display: none !important;
                position: absolute;
                right: 0;
                top: 0;
                width: 44px;
                height: 39px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                &:hover,
                &:focus {
                    .icon-add-to-cart path {
                        stroke: $primary-color;
                    }
                }
                @include breakpoint(mobile) {
                    display: block !important;
                }
            }

            .details-size-title {
                text-transform: uppercase;
                margin-bottom: 8px;
            }

            .sizes,
            .colors {
                display: flex;
                gap: 16px;
                min-height: 50px;
                margin-bottom: 12px;
            }
            .size-label,
            .colors-label {
                margin-bottom: 0;
            }
            .size-input:checked + .size-fake {
                color: $white;
                background-color: $primary-color;
            }
            .colors-input:checked + .colors-fake {
                box-shadow: none;
                &::before {
                    border: 1px solid #000;
                }
            }
            .size-fake,
            .colors-fake {
                display: flex;
                font-weight: 700;
                font-family: $font-inter;
                border-radius: 2px;
                background-color: transparent;
                color: $primary-color;
                border: 1px solid $primary-color;
                transition: all 0.3s;
                min-height: 46px;
                min-width: 48px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            .colors-fake {
                border: 1px solid #cdcdcd;
                min-width: 30px;
                min-height: 30px;
                position: relative; // box-shadow: 4px 7px 19px -5px rgba(0, 0, 0, 0.75);
                &::before {
                    content: "";
                    width: 36px;
                    height: 36px;
                    position: absolute;
                    pointer-events: none;
                    user-select: none;
                    transition: all 0.3s;
                    left: -4px;
                    top: -4px;
                    border: 1px solid transparent;
                }
            }
            .size-table-btn {
                text-transform: uppercase;
                text-decoration: underline;
                font-size: 10px;
                color: $primary-color;
            }
            .details-description {
                color: $primary-color;
                font-weight: 400;
            }
            .price {
                opacity: 0.6;
                font-weight: 700;
            }
        }
        .details-btns {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 1fr;
            @include breakpoint(smMobile) {
                grid-template-columns: 1fr;
            }
        }
    }
    .modal-img {
        display: flex;
        width: 100%;
    }
    .similar-products {
        margin-bottom: 36px;
        text-transform: uppercase;
    }
    .product-col {
        @include breakpoint(tablet) {
            margin-bottom: 25px;
        }
    }
}
