@import "../_mixins.scss";
@import "../_vars.scss";

.thank-you-page {
    .second-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 70px;
        height: 40vmin;
        min-height: 450px;
        text-align: center;
        .section__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // gap: 24px;
        }
        .c-title-48 {
            text-transform: uppercase;
            margin-bottom: 32px;
        }
        .c-title-32 {
            text-transform: uppercase;
            margin-bottom: 42px;
            max-width: 1000px;
        }
        &__btn {
            min-width: 400px;
            max-width: 400px;
            @include breakpoint(mobile) {
                min-width: auto;
            }
        }
    }
}
