
@font-face {
    font-family: 'Klein';
    font-style: normal;
    font-weight: 900;
    src: url('Klein-Black.eot') format("eot");
    src: local('Klein Black'), local('Klein-Black'),
    url('Klein-Black.eot?#iefix') format('embedded-opentype'),
    url('Klein-Black.woff2') format('woff2'),
    url('Klein-Black.woff') format('woff'),
    url('Klein-Black.ttf') format('truetype');
}
/* 
@font-face {
    font-family: 'Klein Text';
    src: url('KleinText-Light.eot');
    src: local('Klein Text Light'), local('KleinText-Light'),
        url('KleinText-Light.eot?#iefix') format('embedded-opentype'),
        url('KleinText-Light.woff2') format('woff2'),
        url('KleinText-Light.woff') format('woff'),
        url('KleinText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Klein Condensed';
    src: url('KleinCondensed-Black.eot');
    src: local('Klein Condensed Black'), local('KleinCondensed-Black'),
        url('KleinCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('KleinCondensed-Black.woff2') format('woff2'),
        url('KleinCondensed-Black.woff') format('woff'),
        url('KleinCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
} */


@font-face {
    font-family: 'Klein';
    src: url('Klein-Medium.eot');
    src: local('Klein Medium'), local('Klein-Medium'),
        url('Klein-Medium.eot?#iefix') format('embedded-opentype'),
        url('Klein-Medium.woff2') format('woff2'),
        url('Klein-Medium.woff') format('woff'),
        url('Klein-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: 'Klein Text';
    src: url('KleinText-ExtraBoldItalic.eot');
    src: local('Klein Text ExtraBold Italic'), local('KleinText-ExtraBoldItalic'),
        url('KleinText-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('KleinText-ExtraBoldItalic.woff2') format('woff2'),
        url('KleinText-ExtraBoldItalic.woff') format('woff'),
        url('KleinText-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Klein Text';
    src: url('KleinText-Regular.eot');
    src: local('Klein Text Regular'), local('KleinText-Regular'),
        url('KleinText-Regular.eot?#iefix') format('embedded-opentype'),
        url('KleinText-Regular.woff2') format('woff2'),
        url('KleinText-Regular.woff') format('woff'),
        url('KleinText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'Klein';
    src: url('Klein-Thin.eot');
    src: local('Klein Thin'), local('Klein-Thin'),
        url('Klein-Thin.eot?#iefix') format('embedded-opentype'),
        url('Klein-Thin.woff2') format('woff2'),
        url('Klein-Thin.woff') format('woff'),
        url('Klein-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-Bold.eot');
    src: local('Klein Bold'), local('Klein-Bold'),
        url('Klein-Bold.eot?#iefix') format('embedded-opentype'),
        url('Klein-Bold.woff2') format('woff2'),
        url('Klein-Bold.woff') format('woff'),
        url('Klein-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-ExtraLight.eot');
    src: local('Klein ExtraLight'), local('Klein-ExtraLight'),
        url('Klein-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Klein-ExtraLight.woff2') format('woff2'),
        url('Klein-ExtraLight.woff') format('woff'),
        url('Klein-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}



@font-face {
    font-family: 'Klein';
    src: url('Klein-MediumItalic.eot');
    src: local('Klein Medium Italic'), local('Klein-MediumItalic'),
        url('Klein-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Klein-MediumItalic.woff2') format('woff2'),
        url('Klein-MediumItalic.woff') format('woff'),
        url('Klein-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-Regular.eot');
    src: local('Klein Regular'), local('Klein-Regular'),
        url('Klein-Regular.eot?#iefix') format('embedded-opentype'),
        url('Klein-Regular.woff2') format('woff2'),
        url('Klein-Regular.woff') format('woff'),
        url('Klein-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Klein';
    src: url('Klein-ExtraBoldItalic.eot');
    src: local('Klein ExtraBold Italic'), local('Klein-ExtraBoldItalic'),
        url('Klein-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Klein-ExtraBoldItalic.woff2') format('woff2'),
        url('Klein-ExtraBoldItalic.woff') format('woff'),
        url('Klein-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-BlackItalic.eot');
    src: local('Klein Black Italic'), local('Klein-BlackItalic'),
        url('Klein-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Klein-BlackItalic.woff2') format('woff2'),
        url('Klein-BlackItalic.woff') format('woff'),
        url('Klein-BlackItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-Light.eot');
    src: local('Klein Light'), local('Klein-Light'),
        url('Klein-Light.eot?#iefix') format('embedded-opentype'),
        url('Klein-Light.woff2') format('woff2'),
        url('Klein-Light.woff') format('woff'),
        url('Klein-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Klein';
    src: url('Klein-LightItalic.eot');
    src: local('Klein Light Italic'), local('Klein-LightItalic'),
        url('Klein-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Klein-LightItalic.woff2') format('woff2'),
        url('Klein-LightItalic.woff') format('woff'),
        url('Klein-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-ThinItalic.eot');
    src: local('Klein Thin Italic'), local('Klein-ThinItalic'),
        url('Klein-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Klein-ThinItalic.woff2') format('woff2'),
        url('Klein-ThinItalic.woff') format('woff'),
        url('Klein-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-Italic.eot');
    src: local('Klein Italic'), local('Klein-Italic'),
        url('Klein-Italic.eot?#iefix') format('embedded-opentype'),
        url('Klein-Italic.woff2') format('woff2'),
        url('Klein-Italic.woff') format('woff'),
        url('Klein-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Klein';
    src: url('Klein-ExtraBold.eot');
    src: local('Klein ExtraBold'), local('Klein-ExtraBold'),
        url('Klein-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Klein-ExtraBold.woff2') format('woff2'),
        url('Klein-ExtraBold.woff') format('woff'),
        url('Klein-ExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


