.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.c-title-96 {
    font-size: 96px;
    line-height: 1.28;
    @include breakpoint(laptop) {
        font-size: 62px;
    }
    @include breakpoint(tablet) {
        font-size: 38px;
    }
    @include breakpoint(mobile) {
        font-size: 24px;
    }
}
.c-title-54 {
    font-size: 54px;
    line-height: 1.28;
    @include breakpoint(laptop) {
        font-size: 48px;
    }
    @include breakpoint(tablet) {
        font-size: 28px;
    }
    @include breakpoint(mobile) {
        font-size: 16px;
    }
}
.c-title-40 {
    font-size: 40px;
    line-height: 1.28;
    @include breakpoint(laptop) {
        font-size: 35px;
    }
    @include breakpoint(tablet) {
        font-size: 32px;
    }
    @include breakpoint(mobile) {
        font-size: 28px;
    }
}
.c-title-36 {
    font-size: 36px;
    line-height: 1.28;
    @include breakpoint(laptop) {
        font-size: 28px;
    }
    @include breakpoint(tablet) {
        font-size: 24px;
    }
    @include breakpoint(mobile) {
        font-size: 22px;
    }
}
.c-title-32 {
    font-size: 32px;
    line-height: 1.28;
    @include breakpoint(laptop) {
        font-size: 28px;
    }
    @include breakpoint(tablet) {
        font-size: 24px;
    }
    @include breakpoint(mobile) {
        font-size: 22px;
    }
}
.c-title-26 {
    font-size: 26px;
    line-height: 1.28;
    @include breakpoint(laptop) {
        font-size: 24px;
    }
    @include breakpoint(tablet) {
        font-size: 22px;
    }
    @include breakpoint(mobile) {
        font-size: 20px;
    }
}
.c-title-25 {
    font-size: 25px;
    line-height: 1.28;
    @include breakpoint(laptop) {
        font-size: 24px;
    }
    @include breakpoint(tablet) {
        font-size: 22px;
    }
    @include breakpoint(mobile) {
        font-size: 20px;
    }
}
.c-text-24 {
    font-size: 24px;
    line-height: 1.25;
    @include breakpoint(laptop) {
        font-size: 22px;
    }
    @include breakpoint(tablet) {
        font-size: 20px;
    }
}
.c-text-20 {
    font-size: 20px;
    line-height: 1.25;
    @include breakpoint(laptop) {
        font-size: 18px;
    }
}
.c-text-18 {
    font-size: 18px;
    line-height: 1;
}
.c-text-16 {
    font-size: 16px;
    line-height: 1;
}
.c-text-12 {
    font-size: 12px;
    line-height: 1;
}

.c-link {
    color: $accent-color;
    transition: all 0.3s;
    &:hover,
    &:focus {
        color: inherit;
        text-decoration: none;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
