// @import '../fonts/stylesheet.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@font-face {
    font-family: "Klein";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Klein-Black.eot") format("eot");
    src:
        local("Klein Black"),
        local("Klein-Black"),
        url("../fonts/Klein-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-Black.woff2") format("woff2"),
        url("../fonts/Klein-Black.woff") format("woff"),
        url("../fonts/Klein-Black.ttf") format("truetype");
}
/* 
@font-face {
    font-family: 'Klein Text';
    src: url('KleinText-Light.eot');
    src: local('Klein Text Light'), local('KleinText-Light'),
        url('KleinText-Light.eot?#iefix') format('embedded-opentype'),
        url('KleinText-Light.woff2') format('woff2'),
        url('KleinText-Light.woff') format('woff'),
        url('KleinText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Klein Condensed';
    src: url('KleinCondensed-Black.eot');
    src: local('Klein Condensed Black'), local('KleinCondensed-Black'),
        url('KleinCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('KleinCondensed-Black.woff2') format('woff2'),
        url('KleinCondensed-Black.woff') format('woff'),
        url('KleinCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
} */

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-Medium.eot");
    src:
        local("Klein Medium"),
        local("Klein-Medium"),
        url("../fonts/Klein-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-Medium.woff2") format("woff2"),
        url("../fonts/Klein-Medium.woff") format("woff"),
        url("../fonts/Klein-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* @font-face {
    font-family: 'Klein Text';
    src: url('KleinText-ExtraBoldItalic.eot');
    src: local('Klein Text ExtraBold Italic'), local('KleinText-ExtraBoldItalic'),
        url('KleinText-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('KleinText-ExtraBoldItalic.woff2') format('woff2'),
        url('KleinText-ExtraBoldItalic.woff') format('woff'),
        url('KleinText-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Klein Text';
    src: url('KleinText-Regular.eot');
    src: local('Klein Text Regular'), local('KleinText-Regular'),
        url('KleinText-Regular.eot?#iefix') format('embedded-opentype'),
        url('KleinText-Regular.woff2') format('woff2'),
        url('KleinText-Regular.woff') format('woff'),
        url('KleinText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-Thin.eot");
    src:
        local("Klein Thin"),
        local("Klein-Thin"),
        url("../fonts/Klein-Thin.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-Thin.woff2") format("woff2"),
        url("../fonts/Klein-Thin.woff") format("woff"),
        url("../fonts/Klein-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-Bold.eot");
    src:
        local("Klein Bold"),
        local("Klein-Bold"),
        url("../fonts/Klein-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-Bold.woff2") format("woff2"),
        url("../fonts/Klein-Bold.woff") format("woff"),
        url("../fonts/Klein-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-ExtraLight.eot");
    src:
        local("Klein ExtraLight"),
        local("Klein-ExtraLight"),
        url("../fonts/Klein-ExtraLight.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-ExtraLight.woff2") format("woff2"),
        url("../fonts/Klein-ExtraLight.woff") format("woff"),
        url("../fonts/Klein-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-MediumItalic.eot");
    src:
        local("Klein Medium Italic"),
        local("Klein-MediumItalic"),
        url("../fonts/Klein-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-MediumItalic.woff2") format("woff2"),
        url("../fonts/Klein-MediumItalic.woff") format("woff"),
        url("../fonts/Klein-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-Regular.eot");
    src:
        local("Klein Regular"),
        local("Klein-Regular"),
        url("../fonts/Klein-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-Regular.woff2") format("woff2"),
        url("../fonts/Klein-Regular.woff") format("woff"),
        url("../fonts/Klein-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-ExtraBoldItalic.eot");
    src:
        local("Klein ExtraBold Italic"),
        local("Klein-ExtraBoldItalic"),
        url("../fonts/Klein-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-ExtraBoldItalic.woff2") format("woff2"),
        url("../fonts/Klein-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/Klein-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-BlackItalic.eot");
    src:
        local("Klein Black Italic"),
        local("Klein-BlackItalic"),
        url("../fonts/Klein-BlackItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-BlackItalic.woff2") format("woff2"),
        url("../fonts/Klein-BlackItalic.woff") format("woff"),
        url("../fonts/Klein-BlackItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-Light.eot");
    src:
        local("Klein Light"),
        local("Klein-Light"),
        url("../fonts/Klein-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-Light.woff2") format("woff2"),
        url("../fonts/Klein-Light.woff") format("woff"),
        url("../fonts/Klein-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-LightItalic.eot");
    src:
        local("Klein Light Italic"),
        local("Klein-LightItalic"),
        url("../fonts/Klein-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-LightItalic.woff2") format("woff2"),
        url("../fonts/Klein-LightItalic.woff") format("woff"),
        url("../fonts/Klein-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-ThinItalic.eot");
    src:
        local("Klein Thin Italic"),
        local("Klein-ThinItalic"),
        url("../fonts/Klein-ThinItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-ThinItalic.woff2") format("woff2"),
        url("../fonts/Klein-ThinItalic.woff") format("woff"),
        url("../fonts/Klein-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-Italic.eot");
    src:
        local("Klein Italic"),
        local("Klein-Italic"),
        url("../fonts/Klein-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-Italic.woff2") format("woff2"),
        url("../fonts/Klein-Italic.woff") format("woff"),
        url("../fonts/Klein-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Klein";
    src: url("../fonts/Klein-ExtraBold.eot");
    src:
        local("Klein ExtraBold"),
        local("Klein-ExtraBold"),
        url("../fonts/Klein-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Klein-ExtraBold.woff2") format("woff2"),
        url("../fonts/Klein-ExtraBold.woff") format("woff"),
        url("../fonts/Klein-ExtraBold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}
