$primary-color: #0E0E0E;
$secondary-color: #d9d9d9;
$white: #ffffff;
$black: #000;
$grey: #A1AEB7;
$lighter-secondary-color: #f2f5f7;
$accent-color: #303eff;
$font-klein: "Klein", sans-serif;
$font-inter: "Inter", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
