@import "mixins";
@import "libs";
@import "vars";
@import "fonts";
@import "common";
@import "components";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $primary-color;
    font-family: $font-klein, sans-serif;
}

ul,
ol,
li {
    list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    transition: all 0.3s;
    color: inherit;
    &:hover,
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

svg {
    fill: currentColor;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    main {
        // width: 100%;
        // display: flex;
        // flex-grow: 1;
    }
}
.error-msg {
    color: #f5230e;
    font-size: 12px;
}
.loader {
    /* change color here */
    color: #1c4c5b;
}
.loader,
.loader div {
    box-sizing: border-box;
}
.loader {
    display: inline-block;
    position: relative;
    width: 75px;
    height: 50px;
}
.loader div {
    position: absolute;
    top: 50%;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
    left: 8px;
    animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
    left: 8px;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
    left: 32px;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
    left: 56px;
    animation: loader3 0.6s infinite;
}
@keyframes loader1 {
    0% {
        transform: translateY(-50%) scale(0);
    }
    100% {
        transform: translateY(-50%) scale(1);
    }
}
@keyframes loader3 {
    0% {
        transform: translateY(-50%) scale(1);
    }
    100% {
        transform: translateY(-50%) scale(0);
    }
}
@keyframes loader2 {
    0% {
        transform: translate(0, -50%);
    }
    100% {
        transform: translate(24px, -50%);
    }
}
